<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/input.css" />

    <h1 class="text-3xl font-bold text-blue-600">It works!</h1>
    <title>Ejs Template</title>
  </head>
  <body>
    <h2 class="text-3xl">hi <%= name %></h2>
  </body>
</html>
